@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  @apply duration-200 ease-in-out bg-cGelap ;
  border-radius: 8px;
}

@layer base {
  body {
    @apply font-coffe-text bg-cTerang selection:text-cTerang selection:bg-cGelap;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-coffe-heading font-black tracking-wider text-cWhite;
  }

  html {
    @apply text-[18px] sm:text-[19px] lg:text-[20px] ;
    -webkit-tap-highlight-color: transparent;
  }
}
@font-face {
  font-family: "coffe-text";
  src: url("@/assets/fonts/Alumatica.woff2") format("woff2"),
    url("@/assets/fonts/Alumatica.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "coffe-heading";
  src: url("@/assets/fonts/QuentinPro.eot");
  src: url("@/assets/fonts/QuentinPro.eot?#iefix") format("embedded-opentype"),
    url("@/assets/fonts/QuentinPro.woff2") format("woff2"),
    url("@/assets/fonts/QuentinPro.woff") format("woff"),
    url("@/assets/fonts/QuentinPro.otf") format("opentype"),
    url("@/assets/fonts/QuentinPro.svg#QuentinPro") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
